.marginal {
	height: 7.5vh;
	width: 90vw;
	display: flex;
}

.option {
	text-decoration: none;
	color: var(--font-color-dull);
	padding-left: 15px;
	padding-right: 15px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.1s;
}

.option:hover {
	color: var(--font-color);
}

.option:active {
	color: var(--font-color-dull);
}

.name {
	padding-left: 5px;
	font-size: 20px;
}
