.status {
    font-size: 20px;
    color: var(--font-color-dull);
}
.selection {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--darker-bg-color);
    border-radius: 100vw;
    transition: all 0.1s;
}

.selection:hover {
    color: var(--font-color);
}
.selection:active {
    color: var(--font-color-dull);
}

.selected {
    color: var(--highlight-color);
}